.product {
  &__photo {
    width: 100%;
  }

  &__desc {
    font-weight: 400;
    font-family: $secondary-font;
    letter-spacing: -1%;
    font-size: 16px;
  }

  &__title {
    font-weight: 500;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: $product-title;
    text-transform: uppercase;
  }

  &__button {
    @include button-text;

    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../images/icons/Icon-arrow.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}