$c-gray: #ffeefc;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$secondary-font: 'Inter', sans-serif;
$secondary-font-weight: 500;
$accent-text-color: #f9512e;
$product-title: #7f8096;
